FLASK_ENV=development
DEBUG=false

KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=ugc-events
KAFKA_ANONYMOUS_TOPIC=ugc-anonymous-events
KAFKA_ACKS=all
KAFKA_ENABLE_IDEMPOTENCE=true
KAFKA_LINGER_MS=950
KAFKA_BATCH_SIZE=65536
PUBLIC_KEY_PATH=auth-certs/jwt-public.pem
PUBLIC_URL_PREFIX=
